@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap)

body{
background-image: url(/Users/orlandomorales/Documents/GitHub/josue8100.github.io/unit_3/images/handyman.jpg);
}
h1{
color: #FF0000;
text-align: center;
font-style: bold;
font-family: 'Noto Sans', sans-serif;
}
#slogan{
color:#000000;
text-align: center;
font-style: italic;
font-family: 'Noto Sans', sans-serif;
}
p{
text-align: center;
color:#000000;
font-family: 'Noto Sans', sans-serif;
margin: 3em;
text-rendering: 
}
img{
text-align: center;
margin: 4em;
}
header {
    background-color: #FFED74;
    border: 1em black solid;
    padding: 2.0em;
}
nav {
    background-color: #E8C66A;
    border: 1em black solid;
    padding: 2.0em;
}
aside {
    background-color: #FFC675;
    border: 1em black solid;
    padding: 2.0em;
}
article {
    background-color: #E89C6C;
    border: 1em black solid;
    padding: 2.0em;
}
footer {
    background-color: #FF957E;
    border: 1em black solid;
    padding: 2.0em;
}
div {
    background-color: #FFE2B8;
    border: 1em black solid;
    padding: 2.0em;
}
#two_column {
    background-color: #FFB7CF;
    border: 1em black solid;
    padding: 2em;
}

#left {
    background-color: violet;
    border: 0.5em black solid;
    padding: 2em;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1em black solid;
    padding: 2em;
    float:right;   
    width: 50%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media screen and (min-width:[960]px) and (max-width:[1]px) {
 #slogan {max-width:960px; min-width:320px; margin:2 auto;}
 #left {max-width:400px; min-width:320px; margin:2 auto; float:auto;}
 #rigth {max-width:400px; min-width:320px; margin:2 auto; float:auto;}
 #column_two {max-width:400px; min-width:320px; margin:2 auto;}
 #slogan {max-width:400px; min-width:320px; margin:2 auto;}
 img {max-width:960px; min-width:320px; margin:2 auto;}
 div {max-width:960px; min-width:320px; margin:2 auto;}
}
